services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DATABASE}" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  app:
    build:
      context: ../..
      dockerfile: config/${APP_ENV}/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "127.0.0.1:${UVICORN_PORT}:${UVICORN_PORT}"

volumes:
  postgres_data:
    driver: local